body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.gboard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.in {
    border: 1px black solid;
    font-size: 24px;
}